.movie-list {
    display: flex;
    width: 100%;
    max-width: 1920px;
}

.movie-list--loaded {
    flex-wrap: wrap;
    align-content: space-around;
    align-self: center;
}

.movie-list--loading {
    height: 100vh;
    justify-content: center;
}

.movie-list--error {
    justify-content: center;
}


.movie-list__spin {
    margin-top: 20%;
}

.movie-list__error-text {
    text-align: center;
    margin-top: 10%;
}

@media screen and (max-width: 768px) {
    .movie-list__spin {
        margin-top: 30%;
    }
}